[user]
  email = aisapatino@gmail.com
  name = "Anna Luisa Patiño West"
[credential]
  helper = cache --timeout=3600
[color]
  ui = always
[core]
  # don't handle line endings, vim/editorconfig do
  autocrlf = false
  excludesfile = ~/.gitignore
  editor = gvim -f
[push]
  # only push current branch
  default = simple
[http]
  # prevent failures if repo is large
  postBuffer = 524288000
[diff]
  tool = gvimdiff
[difftool]
  prompt = false
[merge]
  tool = fugitive
[mergetool]
  prompt = false
  keepBackup = false
  [mergetool.fugitive]
  cmd = gvim -f -c \"Gdiff\" \"$MERGED\"
[sequence]
  editor = gvim -f
[alias]
  # basics
  st = status
  ch = checkout
  a = add
  br = branch
  bra = branch --all
  # commit
  com = commit
  ca = commit --amend
  can = commit --amend -C HEAD
  # history
  l = log --format=\"%Cblue%h%Creset %C(bold green)%s% %Cred%d%Creset%n  %ad %an %n\" --date=relative
  lf = log --format=\"%n%Cblue%h%Creset %C(bold green)%s%Creset %Cred%d%Creset %n  %ad %an\" --date=relative --stat --name-status
  d = diff
  dc = diff --cached
  ds = diff --stat
  # fetch, merge, rebase
  fp = fetch -p
  pr = pull --rebase
  r = rebase
  ri = rebase -i
  rc = rebase --continue
  cp = cherry-pick
  # stash
  shows = stash show -p
  ss = stash save
  sp = stash pop
  sl = stash list
  sa = "!sh -c 'git stash apply stash@{$1}' -"
  sd = "!sh -c 'git stash drop stash@{$1}' -"
