[user]
  email = aisapatino@gmail.com
[color]
  ui = always
[diff]
  tool = gvimdiff
[difftool]
  prompt = false
[merge]
  tool = fugitive
[mergetool]
  prompt = false
  [mergetool.fugitive]
	cmd = gvim -f -c \"Gdiff\" \"$MERGED\"
  keepBackup = false
[push]
  default = simple
[credential]
  helper = cache --timeout=3600
[alias]
  st = status
  ch = checkout
  br = branch
  com = commit
  logm = log --format=\"%Cgreen%h %Cblue%ad %Cgreen%an%Creset%n%Cred%d%Creset %s%n\" --date=relative
[core]
  autocrlf = false
  excludesfile = ~/.gitignore
  editor = gvim -f
[sequence]
  editor = gvim -f

