[user]
  email = aisapatino@gmail.com
[credential]
  helper = cache --timeout=3600
[color]
  ui = always
[core]
  # don't handle line endings, vim does
  autocrlf = false
  excludesfile = ~/.gitignore
  editor = gvim -f
[push]
  default = simple
[http]
  # prevent failures if repo is large
  postBuffer = 524288000
[diff]
  tool = gvimdiff
[difftool]
  prompt = false
[merge]
  tool = fugitive
[mergetool]
  prompt = false
  keepBackup = false
  [mergetool.fugitive]
  cmd = gvim -f -c \"Gdiff\" \"$MERGED\"
[sequence]
  editor = gvim -f
[alias]
  # basics
  st = status
  ch = checkout
  a = add
  br = branch
  # commit
  com = commit
  ca = commit --amend
  can = commit --amend -C HEAD
  # history
  l = log --format=\"%Cgreen%h %Creset %s%n  %Cblue%ad %Cgreen%an%Creset %Cred%d%n\" --date=relative
  lf = log --format=\"%n%Cgreen%h %Creset %s%n  %Cblue%ad %Cgreen%an %Cred%d\" --date=relative --stat --name-status
  d = diff
  dc = diff --cached
  ds = diff --stat
  # fetch, merge, rebase
  fp = fetch -p
  pr = pull --rebase
  r = rebase
  ri = rebase -i
  rc = rebase --continue
  cp = cherry-pick
  # stash
  shows = stash show -p
  ss = stash save
  sp = stash pop
  sl = stash list
  sa = "!sh -c 'git stash apply stash@{$1}' -"
  sd = "!sh -c 'git stash drop stash@{$1}' -"
  # pull staging (up short for update)
  up = "!sh -c 'git ch staging && git pull'"
