[user]
    email = aisapatino@gmail.com
[color]
    ui = always
[diff]
    tool = gvimdiff
[difftool]
    prompt = false
[push]
    default = matching
[credential]
    helper = cache --timeout=3600
[alias]
    st = status
    ch = checkout
[core]
    autocrlf = false
