[MASTER]

init-hook='import sys; sys.path.append("home/aisa/Devel/google_appengine:/home/aisa/Devel/sjfnw:/home/aisa/Devel/google_appengine/lib/django-1.4:/home/aisa/Devel/google_appengine/lib/yaml/lib")'

[MESSAGES CONTROL]

# C0111: missing docstring
# E1002: use of super on old style class
# E1101: __ has no __ member
# E1103: maybe no member
# F0401: couldn't import
# R0924: badly implemented container (going off on forms.Form subclassers)
# W0232: class has no __init__
# W0613: unused-argument (goes off on functions that require request, obj)
disable=C0111,E1002,E1101,E1103,F0401,R0903,R0924,W0232,W0613,C0103,C0301,R0904,R0912,R0914,R0915

# should check for, but cut to see major errors only:
# C0103: line length
# C0103: invalid name
# W0403: relative imports

# unsure if i need to care..
# R0904: too many public methods
# R0912: too many branches
# R0914: too many local variables
# R0915: too many statements

[REPORTS]

# Include message's id in output
include-ids=yes

[BASIC]

good-names=i,qs,t

[TYPECHECK]

generated-members=REQUEST,acl_users,aq_parent,objects,_meta,id

[FORMAT]

indent-string='  '

