/* hide big open/closed icons */
#issues_list span.octicon-issue-opened, #issues_list span.octicon-issue-closed {
    display: none;
}

/* get rid of deadspace from hidden icons */
.list-group-item.selectable {
    padding-left: 40px;
}

/* issue # left align */
.list-group-item-number {
    float: left;
    margin: 0 12px 0 0;
}

/* issue titles */
h4.list-group-item-name {
    margin-right: 25px;
}

span.label {
    font-size: 12px;
    font-weight: normal;
}

span.labels {
    float: right;
    margin: 0;
}

a.assignee {
  margin: -20px 0 0 0;
}

span.octicon-git-pull-request {
    margin: 0 5px 0 -5px;
}

