[MASTER]

init-hook='import sys; sys.path.append("/home/aisa/Devel/google_appengine:/home/aisa/Project/sjfnw:/home/aisa/Devel/google_appengine/lib/django-1.5:/home/aisa/Devel/google_appengine/lib/yaml/lib")'

[MESSAGES CONTROL]

disable=E1002,E1101,E1103,F0401,W0105,W0232,C0301,R0903,C0111

# Codes to possibly ignore. *s are disabled
#
# *E1002: use of super on old style class
# *E1101: __ has no __ member
# *E1103: maybe no member

# *F0401: couldn't import

# R0903: too many public methods
#           Meta classes
# R0912: too many branches
#           unsure how to fix this in large views like apply
# R0924: badly implemented container
#           forms.Form subclassers

# *W0105: String statement has no effect
#           any docstrings
# *W0232: class has no __init__
#           inherited classes
# W0613: unused-argument
#           functions that require request, obj

# C0103: invalid name
#           test setUp function (which is overriding python unittest's setUp)
# *C0111: missing docstring
#           top of file
# *C0301: line too long
#           long imports (which google style says are ok)
#           (+ i just have a lot them to fix)

[REPORTS]

include-ids=yes

[BASIC]

good-names+=qs,pk
no-docstring-rgx=__.*__|Meta
method-rgx=setUp|([a-z_][a-z0-9_]{2,30})$

[TYPECHECK]

generated-members=REQUEST,acl_users,aq_parent,objects,_meta,id

[FORMAT]

indent-string='  '

