snippet file "simple html outline"
<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>${1:TITLE}</title>
  </head>
  <body>

  </body>
</html>

endsnippet

snippet slide "single slide for revealjs"
<section>
  <h1>${1:TITLE}</h1>
  <div class="slide-content">

  </div>
</section>

endsnippet

snippet jquery "hosted jquery"
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
endsnippet

