snippet f "function outline" s
function ${1:NAME}(${2})
	${3}
end
endsnippet

snippet ch "comment header"
-------------------------------------------------------------------------------
--- ${1:HEADING}
-------------------------------------------------------------------------------
endsnippet
