# Function docs
snippet fdoc "outline for function documentation"
/**
 * ${1:SUMMARY}
 *
 * @param {${2:TYPE}} ${3:NAME} ${4:DESC}
 * @private
 */
endsnippet

snippet adoc "attribute docs"
/**
 * ${1:DESC}
 * @type {${2:TYPE}}
 * @private
 */
endsnippet

