# This conf is for changes to the default setup, for porting across multiple
# machines.
#
[mysqld]

collation-server = utf8_unicode_ci
init-connect = 'SET NAMES utf8'
character-set-server = utf8

innodb_file_format = Barracuda
innodb_file_format_max = Barracuda
innodb_file_format_check = 1
innodb_file_per_table = 1

